table {
  width: 100%;
}
.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

mat-toolbar {
  background: #506a91;
  color: white;
}

.search-container {
  padding: 14px 20px 0px 0px;
  text-align: right;
}
.example-form-field {
  width: 400px;
}
::ng-deep .mat-sort-header-content,
::ng-deep .table-headerr {
  color: #344150 !important;
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: capitalize;
}
